# Ignore everything by default
*

# Allow directories
!*/

# Allow Go files
!*.go
!go.mod
!go.sum

# Allow .gitignore
!.gitignore

# Specifically ignore these
*.md
*.txt
*.service

# BUT allow README.md
!README.md

# Ignore Developer Documentation
docs/dev/
